{
    "swagger": "2.0",
    "info": {
        "version": "2018-07-30-preview",
        "title": "ComputeDiskAdminManagementClient",
        "description": "The Admin Compute Disk Management Client."
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
  "paths": {
       "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/admindisks": {
            "get": {
                "x-ms-examples": {
                    "Returns a list of disk.": {
                        "$ref": "./examples/Disks/List.json"
                    }
                },
                "tags": [
                    "Disks"
                ],
                "operationId": "Disks_List",
                "description": "Returns a list of disks.",
                "parameters": [
                    {
                        "$ref": "../2015-12-01-preview/Compute.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../2015-12-01-preview/Compute.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "Disks.json#/parameters/TenantSubscriptionIdParameter"
                    },
                    {
                        "$ref": "Disks.json#/parameters/AdminDiskStateParameter"
                    },
                    {
                        "$ref": "Disks.json#/parameters/SourceSharePathParameter"
                    },
                    {
                        "$ref": "Disks.json#/parameters/DiskCountParameter"
                    },
                    {
                        "$ref": "Disks.json#/parameters/DiskStartParameter"
                    },
                    {
                        "$ref": "Disks.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK -- The list of disks has been returned.",
                        "schema": {
                            "$ref": "Disks.json#/definitions/AdminDiskList"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
       "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/admindisks/{adminDiskGuid}": { 
            "get": {
                "x-ms-examples": {
                    "Returns the requested disk.": {
                        "$ref": "./examples/Disks/Get.json"
                    }
                },
                "tags": [
                    "Disks"
                ],
                "operationId": "Disks_Get",
                "description": "Returns the disk.",
                "parameters": [
                    {
                        "$ref": "../2015-12-01-preview/Compute.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "../2015-12-01-preview/Compute.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "Disks.json#/parameters/AdminDiskGuidParameter"
                    },
                    {
                        "$ref": "Disks.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK -- The disk has been returned.",
                        "schema": {
                            "$ref": "Disks.json#/definitions/AdminDisk"
                        }
                    }
                }
            }
        }
  },
    "definitions": {
        "AdminDiskProperties": {
            "description": "Disk properties.",
            "type": "object",
            "properties": {
                "status": {
                    "description": "The disk status.",
                    "$ref": "Disks.json#/definitions/AdminDiskState",
                    "readOnly": false
                },
                "sharePath": {
                    "description": "The disk share path.",
                    "type": "string",
                    "readOnly": false
                },
                "actualSize": {
                    "description": "The actual size of disks",
                    "type": "integer",
                    "format": "int64",
                    "readOnly": false
                },
                "managedBy": {
                    "description": "Compute resource Uri which owns this disk.",
                    "type": "string",
                    "readOnly": false
                },
                "tenantId": {
                    "description": "The disk resource Uri from tenant view.",
                    "type": "string",
                    "readOnly": false
                },
                "resourceType": {
                    "description": "The type of the resource.",
                    "$ref": "Disks.json#/definitions/DiskResourceType",
                    "readOnly": false
                },
                "diskSku": {
                    "description": "the disk sku.",
                    "$ref": "Disks.json#/definitions/AccountType",
                    "readOnly": false
                }
            }
        },
        "AdminDisk": {
            "description": "Disk.",
            "type": "object",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "Disks.json#/definitions/AdminDiskProperties",
                    "description": "Disk properties"
                }
            },
            "allOf": [
                {
                    "$ref": "../2015-12-01-preview/Compute.json#/definitions/Resource"
                }
            ]
        },
		"AdminDiskList": {
            "type": "object",
            "description": "List of disks.",
            "properties": {
                "value": {
                    "description": "List of disks.",
                    "type": "array",
                    "items": {
                        "$ref": "Disks.json#/definitions/AdminDisk"
                    }
                },
                "nextLink": {
                    "description": "URI to the next page.",
                    "type": "string"
                }
            }
        },
        "AdminDiskState": {
            "description": "Disk State.",
            "type": "string",
            "enum": [
                "Undefined",
                "Unattached",
                "Attached",
                "Reserved",
                "ActiveSAS",
                "Unknown",
                "All",
                "Recommended",
                "OfflineMigration",
                "OnlineMigration"
            ],
            "x-ms-enum": {
                "name": "AdminDiskState",
                "modelAsString": true
            }
        },
        "DiskResourceType": {
            "description": "Disk resource type.",
            "type": "string",
            "enum": [
                "Undefined",
                "Disk",
                "Snapshot",
                "RestorePoint",
                "ManagedBlob"
            ],
            "x-ms-enum": {
                "name": "DiskResourceType",
                "modelAsString": true
            }
        },
        "AccountType": {
            "description": "Disk Sku.",
            "type": "string",
            "enum": [
                "Standard_LRS",
                "Standard_ZRS",
                "Standard_GRS",
                "Standard_RAGRS",
                "Premium_LRS",
                "StandardSSD_LRS",
                "UltraSSD_LRS"
            ],
            "x-ms-enum": {
                "name": "AccountType",
                "modelAsString": true
            }
        }
    },
    "parameters": {
	        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "description": "Client API Version.",
            "required": true,
            "type": "string",
            "default": "2018-07-30-preview"
        },
        "TenantSubscriptionIdParameter": {
            "description": "Tenant Subscription Id which the resource belongs to.",
            "name": "tenantSubscriptionId",
            "type": "string",
            "in": "query",
            "required": false,
            "x-ms-parameter-location": "method"
        },
		"AdminDiskStateParameter": {
            "description": "The parameters of disk state.",
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
		},
		"SourceSharePathParameter": {
		    "description": "The source share which the resource belongs to.",
            "name": "sharePath",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
		"DiskCountParameter": {
		    "description": "The maximum number of disks.",
            "name": "count",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "x-ms-parameter-location": "method"
		},
		"DiskStartParameter": {
		    "description": "The start index of disks.",
            "name": "start",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "x-ms-parameter-location": "method"
		},
        "AdminDiskGuidParameter": {
            "description": "The disk guid as identity.",
            "name": "adminDiskGuid",
            "type": "string",
            "in": "path",
            "required": true,
            "x-ms-parameter-location": "method"
        }
    },
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ]
}
